@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
}
body{
    background-color: #d5e1ef;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 85vh;
}


.qr-container{

color: #31405d;
background-color: 
#ffffff;

height: 400px;
width: 250px;


display: grid;
place-items: center;
text-align: center;

border-radius: 15px;
text-wrap: wrap;
}




.qr-code{
    margin-top: 15px;
    width: 225px;
    border-radius: 15px;
}

.qr-header{
    font-weight: 700;
    font-size: 20px;
    
}


.qr-paragraph{
    font-weight: 400;
    font-size: 12px;
    
    margin-bottom: 100px;
    
}

